.DinoContainer{
    width: 100%;
}
.DinoInfo{
    width: 75%;
    margin: 100px auto;
    position: relative;
    display: flex;
}
@media screen and (max-width: 1000px){
    .DinoInfo{
        flex-direction: column;
        width: 90%;
    }
}