.DinoSkull {
    width: 15%;
    min-width: 120px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 110px;
    left: 25px;
    rotate: -25deg;
}
.DinoSkull img{
    width: 100%;
    opacity: 0.4;
}
.VelociraptorSkeleton{
    width: 13%;
    min-width: 120px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 680px;
    right: 25px;
}
.VelociraptorSkeleton img{
    width: 100%;
    opacity: 0.4;
}