#section_1{
    width: 100%;
    position: relative;
}
#section_2{
    width: 100%;
    background-color: #E7DCD0;
    display: flex;
    flex-direction: column;
}
#section_3{
    width: 100%;
    background-color: #007119;
    display: flex;
}
#section_3 h2{
    color: white;
    margin: 50px auto;
}